@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'VT323';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: asset('/VT323.ttf') format('ttf');
	}
}

.gradient-bg {
	background-image: linear-gradient(
	  270deg,
	  hsl(271deg 87% 55%) 0%,
	  hsl(325deg 75% 49%) 55%,
	  hsl(0deg 100% 58%) 100%
	);
}

canvas {
	display: block;
	margin: auto;
}
